*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: url(bg4.jpg);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;   
}
#con{
      position: absolute;
      margin-left: 470px;
      margin-top:-50px;
      height:35px;
      width:270px;
      background:linear-gradient(200deg,#3499ff,#3a3985);
      color:beige;
      border-radius: 5px;
      text-align: center;
      padding: 10px;
}
.gallery{
    width:500px;
    display: flex;
    overflow-x:hidden;



}
.gallery div{
    width:100%;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap:20px;
    padding:10px;
    flex:none;
}
.gallery div img{
    width:150px;
    filter: grayscale(100%);
    transition: transform 0.5s;
    margin-top: 80px;

}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery-wrap{
    display:flex;
    align-items: center;
    justify-content: center;
    width:1000px;
    margin: 10% auto;
    
}
#backBtn,#nextBtn{
    width:50px;
    cursor: pointer;
    margin: 40px;
}
.gallery div img:hover{
    filter:grayscale(0);
    cursor:pointer;
    transform: scale(1.1);
}
@media (max-width: 768px){
    .gallery-wrap{
        flex-direction: column;
    }
}


